::before,
::after,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #2b283a;
    min-height: 100vh;
    display: grid;
    place-items: center;
}
main {
    width: 420px;
    height: 420px;
    background-color: #f5f5f5;
    color: #2b283a;
    font-family: 'Karla', sans-serif;
    border-radius: 10px;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

/* Instruction */
header p {
    margin-top: 1rem;
}

/* Board */
.dice-board {
    margin-top: 2rem;
    display: grid;
    grid-template: repeat(2, 40px) / repeat(5, 40px);
    gap: 25px;
    justify-content: center;
}
.die {
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.die.selected {
    background-color: #59e391;
}

/* Button */
.roll-btn {
    margin: 2rem;
    padding: 0.5rem 2rem;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 1.25rem;
    letter-spacing: 2px;
    color: #f5f5f5;
    background-color: #3f3b4d;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.roll-btn:active {
    transform: scale(0.99);
}
